<a href="https://colab.research.google.com/github/khusanovich/modul_3/blob/main/3_2_4_cut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 3-MODUL. MAâ€™LUMOTLARGA ISHLOV BERISH

### 3.2 Ma'lumotlarni tozalash va tayyorlash

## Guruhlash
Guruhlashning vazifasi ma'lumotlarni tahlil qilish uchun biror ustun qiymatlarini berilgan oraliqlarga (guruhlarga) tushurib olish. 

Misol uchun, sizda foydalanuvchilar haqida ma'lumotlar jamlangan va u yerda har bir foydalanuvchining yoshi ham ko'rsatilgan. Siz foydalanuvchilarni qaysi yosh oralig'ida ekanini (qaysi guruhga tegishli ekanini) ko'rmoqchisiz:

![](https://www.researchgate.net/profile/Gemma-Burgess-5/publication/299603937/figure/fig1/AS:347169551863808@1459783079654/The-age-ranges-of-survey-respondents.png)

Yuqoridagi kabi natijani olish uchun biz foydalanauvchilarni yoshiga qarab ma'lum oraliqqa joylashimiz kerak, `pandas` bu jarayonni bir muncha osonlashtiradi.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.head()

             pop2021   area
country
Macau        658.394     30
Monaco        39.511      2
Burundi    12255.433  27834
Singapore   5896.686    710
Hong Kong   7552.810   1104

In [6]:
# tartiblab olamiz
df.sort_index(inplace=True)

In [7]:
df.head()

                  pop2021     area
country
Afghanistan     39835.428   652230
Albania          2872.933    28748
Algeria         44616.624  2381741
American Samoa     55.100      199
Andorra            77.355      468

In [8]:
# ba'zi davlat aholisini chiqarib ko'ramiz
df.loc['China']

pop2021    1444216.107
area       9706961.000
Name: China, dtype: float64

In [9]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

Ahamiyat bering, aholi soni minglarda berilgan, bu degani aniq qiymatni topish uchun ko'rsatilgan qiymatni `1000` ga ko'paytirasiz. Ya'ni, O'zbekiston aholisi `33935` ko'rsatilgan, demak aholi soni `33935x1000=33milloin 935ming`

Keling, quyidagi oraliqlarda nechtadan davlat borligini tahlil qilamiz:
- 1 milliongacha (`0-1000`)
- 1-10mln oraqlida (`1000-10000`)
- 10-30mln oraliqda (`10000-30000`)
- 30-50mln oraliqda (`30000-50000`)
- 50-100mln (`50000-10000`)
- 100-300mln (`100000-300000`)
- 300mln-1.5mlrd (`300000-1500000`)

Buning uchun quydagi bin (nuqtalarni) yaratib olamiz:

In [10]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [11]:
population = df.pop2021

In [12]:
population

country
Afghanistan          39835.428
Albania               2872.933
Algeria              44616.624
American Samoa          55.100
Andorra                 77.355
                       ...
Wallis and Futuna       11.094
Western Sahara         611.875
Yemen                30490.640
Zambia               18920.651
Zimbabwe             15092.171
Name: pop2021, Length: 232, dtype: float64

In [14]:
# population va bins ni jamlaymiz
oraliq = pd.cut(population, bins)

In [15]:
oraliq

country
Afghanistan          (30000, 50000]
Albania               (1000, 10000]
Algeria              (30000, 50000]
American Samoa            (0, 1000]
Andorra                   (0, 1000]
                          ...
Wallis and Futuna         (0, 1000]
Western Sahara            (0, 1000]
Yemen                (30000, 50000]
Zambia               (10000, 30000]
Zimbabwe             (10000, 30000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64]): [(0, 1000] < (1000, 10000] < (10000, 30000] < (30000, 50000] <
                                  (50000, 100000] < (100000, 300000] < (300000, 1500000]]

Ko'rib turganingizdek, yangi o'zgaruvchi davlatlar qaysi oraliqqa tushishini ko'rsatayapti.

Oraliqlarni chiqarish uchun `.categories` parametriga murojaat qilamiz:

Oraliqlardagi davlatlar sonini ko'rish uchun `.value_counts()` metodiga muorjaat qilamiz:

In [19]:
oraliq.value_counts()

(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

Istasangiz, `oraliq` obyektini `df` ga ham qo'shib qo'yishingiz mumkin:

In [20]:
df['popBins'] = oraliq

In [21]:
df.head()

                  pop2021     area         popBins
country
Afghanistan     39835.428   652230  (30000, 50000]
Albania          2872.933    28748   (1000, 10000]
Algeria         44616.624  2381741  (30000, 50000]
American Samoa     55.100      199       (0, 1000]
Andorra            77.355      468       (0, 1000]

## yana bir misol ko'ramiz

In [22]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

           company   body-style  ...  average-mileage    price
index                            ...
0      alfa-romero  convertible  ...               21  13495.0
1      alfa-romero  convertible  ...               21  16500.0
2      alfa-romero    hatchback  ...               19  16500.0
3             audi        sedan  ...               24  13950.0
4             audi        sedan  ...               18  17450.0

[5 rows x 9 columns]

Yuqoridagi jadvalda turli avtolarning narxi ko'rsatilgan, keling ularni ham oraliqlarga bo'lamiz. Avval eng arzon va qimmat mashinalarni ajratib olaylik:

In [23]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [24]:
bins = [0, 10000, 20000, 50000]

In [25]:
range = pd.cut(df.price, bins)

In [26]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

Tushunarli bo'lishi uchun biz bu oraliqlarga nom ham berishimiz mumkin:

In [27]:
groups = ['arzon', "o'rta", 'qimmat']
range = pd.cut(df.price, bins, labels=groups)
range.value_counts()

arzon     28
o'rta     17
qimmat    13
Name: price, dtype: int64

Yuqorida misollarda biz `bins` nomli o'zgaruvchi yaratib oldik va guruhlarga o'zimiz ajratdik. Agar bu jarayonni avtomatlashtirishni istasangiz, `bins` ro'yxati o'rtniga nechta guruh kerak ekanligini ko'rsatsangiz kifoya:

In [28]:
range = pd.cut(df.price, 3) # 3 ta guruhga ajratamiz
range.value_counts()

(5110.751, 18567.333]     44
(31983.667, 45400.0]       9
(18567.333, 31983.667]     5
Name: price, dtype: int64

Ko'rib turganingizdek, yuqorida biz qiymatlarni 3 ta guruhga ajratishni so'radik va biznikidan farqli natijani oldik.

In [30]:
range = pd.cut(df.price, 4) # 4ta guruhga ajratamiz
range.value_counts()

(5110.751, 15213.25]    36
(15213.25, 25275.5]     10
(35337.75, 45400.0]      7
(25275.5, 35337.75]      5
Name: price, dtype: int64

Agar sizga qiymatlarni teng a'zolardan iborat guruhga ajratish talab qilinsa, `.qcut()` metodiga murojaat qilasiz:

In [31]:
range = pd.qcut(df.price, 3)

In [32]:
range.value_counts()

(5150.999, 7295.0]    20
(16430.0, 45400.0]    19
(7295.0, 16430.0]     19
Name: price, dtype: int64

In [33]:
range = pd.qcut(df.horsepower, 4)
range.value_counts()

(47.999, 68.0]    17
(100.0, 123.0]    15
(68.0, 100.0]     15
(123.0, 288.0]    14
Name: horsepower, dtype: int64